[submodule "imported/utfcpp"]
	path = imported/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "imported/stb"]
	path = imported/stb
	url = https://github.com/nothings/stb.git
[submodule "imported/stdexec"]
	path = imported/stdexec
	url = https://github.com/NVIDIA/stdexec.git
[submodule "imported/taskflow"]
	path = imported/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "imported/mdspan"]
	path = imported/mdspan
	url = https://github.com/kokkos/mdspan.git
[submodule "imported/argparse"]
	path = imported/argparse
	url = https://github.com/p-ranav/argparse.git
